#recent-projects {
    section {
        width: 50vw;
        min-width: 550px;
        height: 50vh;
        position: relative;
    }

    .p-list li {
        background: var(--color-background-light);
        padding: 8px;

        &:hover {
            background: var(--color-background-scroll);
        }

        .head {
            width: 100%;
            height: 30px;

            h3 {
                font-weight: bold;
                max-width: calc(50vw / 2);
            }

            span {
                color: var(--color-font-light);
                font-size: 0.85em;
                font-weight: 300;
            }
        }

        .path {
            color: var(--color-font-light);
            font-size: 0.75em;
            font-weight: 300;
            max-width: calc(50vw / 1.3);

            &.invalid {
                color: var(--color-error);
            }
        }
    }

    .no-projects {
        color: var(--color-font-light);
        font-size: 1.1em;
        font-weight: normal;
        text-align: center;
        width: 100%;
    }
}
