.base-button {
    padding: 6px 12px;
    color: var(--color-font);
    background: var(--color-background-button);

    &.primary {
        background: var(--color-primary);
        color: var(--color-font-reverse);

        &:hover {
            background: var(--color-primary-light);
        }
    }

    &:hover {
        background: var(--color-background-scroll);
    }
}
