.scrollbar {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-background-scroll);
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}
