:root {
    --color-primary: #1ab887;
    --color-background: #f5f5f5;
    --color-background-light: #ebebeb;
    --color-background-scroll: #dcdcdc;
    --color-font: #000000;
    --color-font-light: #454545;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #20dda3;
        --color-background: #1b1b1b;
        --color-background-light: #323232;
        --color-background-scroll: #232323;
        --color-font: #ffffff;
        --color-font-light: #b6b6b6;
    }
}