@font-face {
    font-family: "comfortaa";
    font-weight: 300;
    src: url(/fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: "comfortaa";
    font-weight: normal;
    src: url(/fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: "comfortaa";
    font-weight: 500;
    src: url(/fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: "comfortaa";
    font-weight: bold;
    src: url(/fonts/Comfortaa-Bold.ttf);
}
