@import "fonts";
@import "colors";

:root {
    overscroll-behavior: none;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 1em;
    color: inherit;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

body {
    font-family: "comfortaa", sans-serif;
    background-color: var(--color-background);
    color: var(--color-font);
    font-weight: normal;
    width: 100vw;
    height: 100vh;

    #app {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

main {
    width: 100%;
    height: 100%;
}

a, a * {
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-direction: row;

    &.column {
        flex-direction: column;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.align-end {
        align-items: end;
    }

    &.gap5 {
        gap: 5px;
    }

    &.gap10 {
        gap: 10px;
    }

    &.gap15 {
        gap: 15px;
    }

    &.gap20 {
        gap: 20px;
    }

    &.gap25 {
        gap: 25px;
    }

    &.gap30 {
        gap: 30px;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.b-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.border-r {
    border-radius: 10px;
}

.border-r-small {
    border-radius: 6px;
}

.grid-center {
    display: grid;
    place-items: center;
}

h1 {
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}
