.context-menu {
    position: absolute;
    background: var(--color-background-scroll);
    z-index: 200;
    overflow: hidden;

    li {
        padding: 10px;
        font-size: 0.8em;

        &:hover {
            background: var(--color-background-button);
        }
    }
}
