.notifications-center {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 300;
    pointer-events: none;

    .notification {
        pointer-events: all;
        padding: 10px;
        font-size: 0.9em;
        animation: forwards popupFromTop 0.3s;

        &.info {
            background: var(--color-background-scroll);
            color: var(--color-font-light);
        }
    }

    @keyframes popupFromTop {
        from {
            transform: translateY(-100%);
        }
    }
}